<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
		Options -Indexes
        Options -MultiViews
    </IfModule>
	
	# follow symbolic links
	Options FollowSymlinks
	
	RewriteEngine On
	
	RewriteCond %{REQUEST_URI} !^public
	RewriteRule ^(.*)$ frontend/web/$1 [L] 
</IfModule>